:root {
  font-size: 16px;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Montserrat', -apple-system,  BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",  "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
  background-color: #191921;
}

.container {
  padding: 2rem;
  width: 1280px;
  margin: 0 auto;
}

.container .chart-wrapper, .container .canvas-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  -ms-grid-rows: (55px)[10];
      grid-template-rows: repeat(10, 55px);
  background: #22222c;
  padding-top: 2rem;
  padding-right: 2rem;
}

.container .chart-wrapper.rotateLabels .x-axis > div div, .container .canvas-wrapper.rotateLabels .x-axis > div div {
  font-size: 10px;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  -webkit-transform-origin: 80% 30%;
          transform-origin: 80% 30%;
  white-space: "normal";
  word-break: "break-word";
  word-wrap: "break-word";
  text-align: "right";
  max-width: 50px;
}

.container .y-axis, .container .canvas-y-axis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  grid-row: 1 / -2;
  background: #22222c;
}

.container .y-axis > div, .container .canvas-y-axis > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.7rem;
  color: #9b9fab;
  text-align: right;
  padding: 0 1rem;
}

.container .graph, .container .x-axis, .container .canvas-graph, .container .canvas-x-axis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .graph > div, .container .x-axis > div, .container .canvas-graph > div, .container .canvas-x-axis > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 150px;
}

.container .graph, .container .canvas-graph {
  padding: 8px 16px;
  padding-bottom: 0;
  grid-column: 2 / -1;
  grid-row: 1 / -2;
  background-color: #22222c;
  position: relative;
}

.container .graph .bar-container, .container .canvas-graph .bar-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.container .graph .bar-container > div, .container .canvas-graph .bar-container > div {
  width: 70%;
  color: #fff;
  text-align: center;
  background-color: #343748;
  font-size: 0.7rem;
  position: relative;
}

.container .graph .bar-container > div:empty, .container .canvas-graph .bar-container > div:empty {
  height: 3px;
  background: red;
}

.container .graph .bar-container > div span, .container .canvas-graph .bar-container > div span {
  position: absolute;
  top: -20px;
  left: 0;
}

.container .graph .grid-container, .container .canvas-graph .grid-container {
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .graph .grid-container > div, .container .canvas-graph .grid-container > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top: 1px solid #343748;
}

.container .x-axis, .container .canvas-x-axis {
  grid-column: 2 / -1;
  background-color: #282a36;
}

.container .x-axis {
  border-top: 1px solid #343748;
  padding: 8px 16px;
  padding-bottom: 0;
}

.container .x-axis > div div {
  color: #9b9fab;
  text-align: center;
  font-size: 0.7rem;
}

.container .controls {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .controls > * {
  height: 40px;
}

.container .controls select {
  height: 100%;
  width: 250px;
  padding: 8px 16px;
  background: white;
}

.container .controls .count-display {
  color: #eee;
  display: -ms-grid;
  display: grid;
  padding: 0 0.8rem;
  margin-left: 0.5rem;
  place-content: center;
  background-color: #343748;
}

.container .display {
  margin-top: auto;
  color: #888;
}

.canvas-wrapper {
  overflow: hidden;
  margin: 1rem 0;
}

.canvas-wrapper .canvas-graph {
  padding: 0;
  display: block;
}
/*# sourceMappingURL=chart.css.map */